/* Theme color variables */
$background: #181926;
$background-active: #326bb9;
$text: #a4acc5;

$purple: #a286c8;
$blue: #6e91ca;
$green: #86b985;
$yellow: #c7b68e;
$orange: #c8906e;
$red: #cb535e;

$normal: $green;
$warning: #be8d3e;
$critical: $red;
