.music {
  background-color: $background;
  border-radius: 20px;

  padding: 20px;

  .art {
    background-size: cover;
    background-position: center center;
    min-width: 200px;
    min-height: 200px;

    border-radius: 20px;

    transition: opacity 1s ease-in-out;
  }

  .player-container {
    min-width: 300px;

    .title {
      font-size: 20px;
      color: $purple;
    }

    .artist {
      font-size: 16px;
      color: $yellow;
    }

    button {
      min-width: 48px;
      min-height: 48px;

      font-size: 26px;
    }

    button.playpause {
      border-radius: 50%;
      background-color: $green;
      color: $background;
    }
  }
}
