.bar {
  * {
    font-weight: bold;
    font-size: 16px;
  }

  .container {
    margin: 0px 14px 0px 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    background-color: $background;

    & > * + * {
      margin-left: 20px;
    }
  }

  .time {
    color: $orange;
  }

  .vpn.connected {
    color: $green;
  }

  .connectivity {
    color: $yellow;
  }

  .bluetooth {
    color: $blue;
  }

  .volume {
    color: $blue;
  }

  .mic {
    color: $purple;
  }

  .systray {
    margin: 0px;
    margin-left: 6px;

    & menu {
      padding: 8px 8px;
      border-radius: 10px;
      background-color: $background;

      menuitem {
        margin: 1px 0;

        &:hover {
          padding-left: 2px;
        }
      }

      separator {
        margin: 6px 0;
        min-height: 3px;
        border-radius: 99px;
        background-color: rgba(5, 5, 5, 0.35);
      }
    }

    & > menuitem:first-child {
      margin-left: 10px;
    }
  }

  & * {
    .normal {
      color: $normal;
    }

    .warning {
      color: $warning;
    }

    .critical {
      color: $critical;
    }
  }

  .workspaces {
    .workspace-entry {
      margin: 0px 3px 0px 3px;
      padding: 0px 8px 0px 8px;

      &.current {
        background: $background-active;
        border-radius: 10px;
      }
    }
  }
}
