.notification {
  padding: 6px;
  margin-right: 16px;
  margin-bottom: 12px;
  background-color: $background;
  border-radius: 20px;

  .notification-app-icon {
    min-width: 24px;
    min-height: 24px;

    background-size: cover;
    background-position: center center;
  }

  .notification-icon {
    min-width: 128px;
    min-height: 128px;

    background-size: cover;
    background-position: center center;
    border-radius: 16px;
  }

  .notification-text-container {
    padding-top: 6px;

    .notification-summary {
      font-weight: bold;
    }
  }

  .notification-buttons {
    margin-top: 6px;

    .notification-button {
      font-size: 0.8em;
      padding: 8px;
      border-radius: 10px;
      margin-right: 12px;
      border: 1px solid $text;
    }
  }
}
