@import "./theme.scss";
@import "./bar/style.scss";
@import "./music/style.scss";
@import "./timer/style.scss";
@import "./freqtrade/style.scss";
@import "./notification/style.scss";

* {
  color: $text;
  font-family: "FiraCode Nerd Font";
}

window {
  background-color: transparent;
}

button {
  all: unset;
}