@import "./theme.scss";
@import "./bar/style.scss";
@import "./music/style.scss";
@import "./timer/style.scss";
@import "./freqtrade/style.scss";
@import "./notification/style.scss";

* {
  all: unset;
  color: $text;
  font-family: "FiraCode Nerd Font";
}
